@import "vars";
@import "fonts";

.card_auth {
  background-color: #fff;
  max-width: 490px;
  margin: auto;
  padding: 15px 22px;
  border-radius: 15px;
  .form-group {
    margin-bottom: 20px;
    .form-control {
      background: #eef1f9;
      border: none;
      // color: #b6b9c0;
      font-size: 17px;
      border-radius: 20px;
      padding: 7px 22px;
    }
    .form-select {
      background-color: #eef1f9 !important;
      border: none;
      font-size: 17px;
      border-radius: 20px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 22px;
    }
  }
}

.form-select {
  background: url("../public/img/arrow-select.png") no-repeat right 0.75rem
    center !important;
}
